/* CSS */
*{
    margin: 0;
    padding: 0;
}

/* Main Structure */
.flex-columns{
    display: inline-flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
}

.full-width{
    width: 100%;
}

/* Banner */
#title-banner{
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 1em;
}

/* Buyables */

.buyables, .play-area{
    height: 100%;
}

.buyables-column{
    background-color: antiquewhite;
    flex-grow: 1;
}

.buyables-individual{
    width: 70%;
    height: 100px;
    background-color: aqua;
    margin: auto;
    margin-top: 1em;
    display: flex;
}

.buyables-title{
    flex-grow: 2;
    align-self: center;
    text-align: center;
}

.buyables-costs{
    flex-grow: 1;
    background-color: red;
    align-self: center;
    text-align: center;
}

/* Informational Area */

.play-area{
    flex-grow: 2;
}


